#header{
	background:#E31559;
}
#navigation { 
	background:#E31559;
} 
.global_module h3 { 
	background:#e31559;
                 }
.global_module_news h3 { 
	background:#E31559;
}
.global_module_prolist h3 { 
	background:#e31559;
}
.global_module_procatalog h3 { 
	background:#e31559;
                 }
