*{ margin:0;padding:0;}
body {background:#FFF;color:#111;font:12px/1.6em Helvetica,Arial,sans-serif;}
a {color:#0287ca;text-decoration:none;}
a:hover{ text-decoration:underline;}
ul,li {list-style:none;}
img {border:none;}
h1,h2,h3,h4,h5,h6 {font-size:1em;}