#header {
            width:750px;
            height:80px;
			margin:10px auto;    
			border:1px solid #aaaaaa;
            background:#3b5998;
         }
#logo {
        float:left;
		margin:0 0 0 10px;
		color:#fff;
		font-size:3em;
		font-weight:700;
		line-height:80px;
        
       }
#skin {
        float:right;
		margin:10px;
		padding:4px;
		width:60px;
		border:1px solid #cccccc;
		background:#fff;
      }
#skin  li  {
          float:left;
		  margin-right:4px;
		  width:15px;
		  height:15px;
		  cursor:pointer;
		  overflow:hidden;
		  display:block;
		  text-indent:-999px;
		  background-image:url(../images/theme.gif);
        }
#skin_0 { background-position:0px 0px; }
#skin_1  {background-position:15px 0px;}
#skin_2  {background-position:35px 0px;}
#skin_0.selected { background-position:0px 15px;}
#skin_1.selected  {background-position:15px 15px;}
#skin_2.selected {background-position:35px 15px;}
	   
	   